{
  "presets": [ 
    "@babel/preset-react", 
    [ 
      "@babel/preset-env", 
      { 
        "targets": { 
          "node": "current" 
        }, 
        "useBuiltIns": "entry", 
        "debug": false 
      } 
    ] 
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
